<div class="alert alert-error" *ngIf="errMsg">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Error!</strong>{{errMsg}}
</div>
<div *ngIf="succMsg" class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong> {{succMsg}}
</div>
<h4>Product Listing</h4>
<div align="right">
  <button routerLink='../addproduct' class="btn btn-primary">Add Product</button>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="widget-box">
      <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Product</h5>
      </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>S.NO</th>
            <th>Product Name</th>
            <th>Category Id</th>
            <th>Image</th>
            <th>Regular Price</th>
            <th>Sale Price</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd gradeX" *ngFor="let data of pData let i = index">
            <td>{{i+1}}</td>
            <td>{{data.pname}}</td>
            <td>{{data.category_id}}</td>
            <td>
              <img src="http://localhost:8000/images/{{data.image}}" style="width: 50px;">
            </td>
            <td>{{data.regular_price}}</td>
            <td>{{data.sale_price}}</td>
            <td>{{data.description}}</td>
            <td>
              <a class="btn" routerLink="../editProduct/{{data._id}}">Edit</a>
              &nbsp;
              <a type="button" class="btn btn-danger" (click)="deleteProduct(data._id)" >Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
